<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo! Просто тест работы {{1+1}} </h1>
  </div>
  <div class="col-md-12">
      <h1>Выведем некторые тексты и проверим как рабоатет  ng-bind</h1><br>

      <div class="row col-md-6"><input ng-model="someText" class="form-control"></div><br><br><br>

      <div class="col-md-6 row">
          <table class="table ">
              <tr>
                  <td><div class="">Просто выведем текст</div></td>
                  <td>{{::someText}}</td>
              </tr>
              <tr>
                  <td><div class="">Проверка зависимости</div></td>
                  <td><div ng-bind="someText"></div></td>
              </tr>
              <tr>
                  <td><div class="">Выведем ng-bind-html  (навешал стиль на класс)</div></td>
                  <td><div ng-bind-html="someHtml"></div></td>
              </tr>
          </table>
      </div>
        <style>
            .redColored{color: red}
        </style>
      <div class="col-md-12 row">
          <h1>Вывод через ng-repeat</h1><br>
          <div class="col-md-6 row">
              <table class="table  " >
                  <tr ng-repeat=" item in array">
                      <td><span>{{item.name}}</span></td>
                      <td>
                          <img ng-if="item.src" ng-src="{{item.src}}">

                      </td>
                  </tr>
              </table>
          </div>
      </div>






  </div>



</div>
